<!DOCTYPE html>
<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div class="container">
    <div class="navbar navbar-light bg-light">

        <ul class="nav nav-pills nav-fill">
          <li class="navbar-brand" href="{% url 'index' %}">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Flag_of_Mali.svg/1280px-Flag_of_Mali.svg.png" width="30" height="30" class="d-inline-block align-top" alt="">
            BipVote++ Dashboard
          </li>
          <li class="nav-item">

            <a class="nav-link active" href="{% url 'index' %}">            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pie-chart" viewBox="0 0 16 16">
              <path d="M7.5 1.018a7 7 0 0 0-4.79 11.566L7.5 7.793V1.018zm1 0V7.5h6.482A7.001 7.001 0 0 0 8.5 1.018zM14.982 8.5H8.207l-4.79 4.79A7 7 0 0 0 14.982 8.5zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
            </svg> Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'topic' %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-text" viewBox="0 0 16 16">
              <path d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z"/>
              <path d="M4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8zm0 2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"/>
            </svg> Create topic</a>
          </li>
        </ul>
    </div>

    <div class="row justify-content-center">
        <div class="col col-lg-6 align-self-center">
          {% if latest_pos_opinion_nr == 0 and latest_neg_opinion_nr == 0 %}
          <h1>No opinions yet, refresh to check again.</h1>
          {% else %}
            <canvas class="p-3" id="myChart"></canvas>

            <script>
                var xValues = ["Yes", "No"];
                var yValues = [{{latest_pos_opinion_nr | safe}}, {{latest_neg_opinion_nr | safe}}];
                var barColors = [
                  "#198754",
                  "#dc3545"
                ];

                new Chart("myChart", {
                  type: "pie",
                  data: {
                    labels: xValues,
                    datasets: [{
                      backgroundColor: barColors,
                      data: yValues
                    }]
                  },
                  options: {
                    plugins:{
                    legend: {
                      position: 'right',
                      labels:{
                      font: {
                        size: 16,
                      }
                      }
                    }
                    }

                  }
                });
                </script>
        {% endif %}
        </div>
    </div>

  <div class="row">
    <div class="col">
      <ul class="list-group">
          <li class="list-group-item bg-success text-light">Agree</li>
          {% if pos_opinion %}
          {% for opinion in pos_opinion %}
          <li class="d-flex flex-row bd-highlight list-group-item">
              <div class="p-2 bd-highlight">
                  <audio controls>
                      <source src="{{ opinion.vote_opinion }}" type="audio/wav">
                    Your browser does not support the audio element.
                    </audio>
              </div>
              <div class="p-2 bd-highlight align-self-center"><span class="align-text-bottom">{{ opinion.pub_date | date:"l d M Y H:i" }}</span></div>
          </li>
          {% endfor %}
          {% else %}
          <li class="d-flex flex-row bd-highlight list-group-item">

            <div class="p-2 bd-highlight align-self-center"><span class="align-text-bottom">No opinions yet.</span></div>
        </li>
          {% endif %}
      </ul>
  </div>

  <div class="col">
    <ul class="list-group">
        <li class="list-group-item bg-danger text-light">Disagree</li>
        {% if neg_opinion %}
        {% for opinion in neg_opinion %}
        <li class="d-flex flex-row bd-highlight list-group-item">
            <div class="p-2 bd-highlight">
                <audio controls>
                    <source src="{{ opinion.vote_opinion }}" type="audio/wav">
                  Your browser does not support the audio element.
                  </audio>
            </div>
            <div class="p-2 bd-highlight align-self-center"><span class="align-text-bottom">{{ opinion.pub_date | date:"l d M Y H:i" }}</span></div>
        </li>
        {% endfor %}
        {% else %}
        <li class="d-flex flex-row bd-highlight list-group-item">

          <div class="p-2 bd-highlight align-self-center"><span class="align-text-bottom">No opinions yet.</span></div>
      </li>
      {% endif %}

    </ul>
</div>

  </div>

</div>
</body>
</html>
